.u-section-1 .u-sheet-1 {
  min-height: 551px;
}

.u-section-1 .u-image-1 {
  width: 841px;
  height: 511px;
  margin: 0 auto 41px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 328px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 207px;
  }
}